

body  {
  position: relative;
  background-color: #A49966;
  opacity: 85%;
  font-family: 'Black Ops One', cursive;

}

p1 {

  padding-left: 30px;
  padding-right: 30px;
}

footer {
  position: fixed;
  padding-left: 50px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: grey;
}

nav {
  background-color: grey;
  opacity: 75%;
  display: flex;
  list-style: none;
}
